<header class="branding">
  <md-card>
    <a md-button routerLink="/home" class="ret-btn">&lt;&lt; Back</a>
    <md-card-header>
      <div md-card-avatar class="header-image" routerLink="/home"></div>
      <md-card-title><span class="pink">Omo</span><span class="blue">travel</span></md-card-title>
    </md-card-header>
  </md-card>
</header>

<section>
<md-card>
  <md-card-header>
    <md-card-title><h3 class="pink">An error occurred.</h3></md-card-title>
  </md-card-header>

  <md-card-content>
    <h3 class="align-center blue">The blog is currently unavailable.</h3>
  </md-card-content>
  <md-card-actions>
    <a md-raised-button routerLink="/home" class="main-action-btn">CLICK HERE</a>
  </md-card-actions>
</md-card>
</section>