<header class="branding">
  <md-card>
    <a md-button routerLink="/home" class="ret-btn">&lt;&lt; Back</a>
    <md-card-header>
      <div md-card-avatar class="header-image" routerLink="/home"></div>
      <md-card-title><span class="pink">Omo</span><span class="blue">travel</span></md-card-title>
    </md-card-header>
  </md-card>
</header>

<section class="padtop1em">  
  <md-nav-list>
    <div *ngFor="let post of posts">
    <a md-list-item   [routerLink]="['/post', post.id]" class="bold">{{post.title.rendered}}</a>
    <div [innerHTML]="post.excerpt.rendered" class="pad1em padtop0"></div>
    </div> 
  </md-nav-list>
</section>